.root{
    flex-grow: 1;
    margin-bottom: 10px;
    padding: 20px;
}

.paper{
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    padding: 20px;
    margin-bottom: 5px;
    flex-direction: column;
    
}
.paper:hover{
    box-shadow: '0 4px 10px rgba(0, 0, 0, 0.3)';
}

.eventImage{
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
    overflow: hidden;
}
.eventImage img{
 width: 100%;
 height: auto;
}
.icon{
    margin-right: 10px;
}
.eventtext{
    white-space:wrap;
    text-overflow: ellipsis;
    
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
#Event-card-detailbtn{
    width: 150px;
}
#Event-card-joinbtn{
    width: 150px;

}

@media (min-width:426px) and (max-width: 769px) {

    .root{
        flex-grow: 1;
        margin-bottom: 10px;
        padding: 20px;
    }
    
    .paper{
        display: flex;
        align-items: start;
        justify-content: space-evenly;
        padding: 20px;
        margin-bottom: 5px;
        flex-direction: column;
        
    }
    .paper:hover{
        box-shadow: '0 4px 10px rgba(0, 0, 0, 0.3)';
    }
    
    .eventImage{
        width: 100%;
        max-width: 100%;
        border-radius: 4px;
        overflow: hidden;
    }
    .eventImage img{
     width: 100%;
     height: auto;
    }
    .icon{
        margin-right: 10px;
    }
    .eventtext{
        white-space:wrap;
        text-overflow: ellipsis;
        
    }
    .grid-container {
        display: flex;
        flex-direction: column;
      }

      #Event-card-detailbtn{
        width: 10px;
        
    
    }



}

  @media (min-width:320px) and (max-width: 426px) {
    .root{
        flex-grow: 1;
        margin-bottom: 10px;
        padding: 20px;
    }
    
    .paper{
        display: flex;
        align-items: start;
        justify-content: space-evenly;
        padding: 20px;
        margin-bottom: 5px;
        flex-direction: column;
        
    }
    .paper:hover{
        box-shadow: '0 4px 10px rgba(0, 0, 0, 0.3)';
    }
    
    .eventImage{
        width: 100%;
        max-width: 100%;
        border-radius: 4px;
        overflow: hidden;
    }
    .eventImage img{
     width: 100%;
     height: auto;
    }
    .icon{
        margin-right: 10px;
    }
    .eventtext{
        white-space:wrap;
        text-overflow: ellipsis;
        
    }
    .grid-container {
        display: flex;
        flex-direction: column;
      }

      #Event-card-detailbtn{
        width: 10px;
        
    
    }


  }

  
